<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand">
                <a href="#" class="navbar-brand">Serzh</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">home</li>
                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>